---
BasedOnStyle: Google
Standard: c++20
ColumnLimit: 120
IndentWidth: 4
UseTab: Never
AccessModifierOffset: -4
IndentCaseLabels: true
FixNamespaceComments: true
EmptyLineBeforeAccessModifier: Always
BreakAfterAttributes: Leave
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"learncpp/.*"'
    Priority: 0
  - Regex: '^<gtest/.*>'
    Priority: 1
  - Regex: '^<.*\.h>'
    Priority: 2
  - Regex: '^<.*>'
    Priority: 3
  - Regex: '.*'
    Priority: 4
AllowShortFunctionsOnASingleLine: Inline
AllowShortLambdasOnASingleLine: All
LambdaBodyIndentation: Signature
BreakBeforeConceptDeclarations: Always
RequiresClausePosition: OwnLine
IndentRequiresClause: true
QualifierAlignment: Left
PointerAlignment: Left
